/* GENERAL STYLING */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --white:#fff;
    --cyan: #A1EAFB;
    --dark-cyan:#6ccce1;
    --darker-cyan:#0b829c;
    --gray:#202C37;
    --light-gray:#2B3945;
}

html{
    scroll-behavior: smooth;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: var(--gray);
    position: relative;
    overflow-x: hidden;
}


/*  */

section,.about{
    padding: 4em;
    display: block;
}

section header{
    display: flex;
    align-items: center;
    width: 100%;
}

section header .line{
    height: 80px;
    width: 5px;
    background-color:var(--cyan);
}

section header h2{
    font-size:2rem;
    margin-left: 10px;
    text-transform: uppercase;
}

.variable_color{
    color: var(--cyan);
    text-transform: uppercase;
}

.variable_color_btn{
    border: 2px solid var(--cyan);
    color: var(--cyan);
}

.variable_color_link{
    color: var(--cyan);
}


/* LOADING PAGE */

body .loadingPge{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: var(--gray);
    transition: 0.8s ease-in-out;
}

.loadingPge .loadingPage_content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s;
}

.loadingPge .loadingPage_content div{
    height: 200px;
    width: 200px;
    border: 10px solid rgba(250, 250, 250, 0.5);
    border-bottom: 10px solid var(--cyan) ;
    border-radius: 50%;
    animation: wheel 1s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@keyframes wheel {
    0%, 100%{
        transform: rotate(45deg);
    }

    50%{
        transform: rotate(-45deg);
    }

}

.loadingPge .loadingPage_content P{
    margin-top: 1em;
    font-size: 1.2rem;
    color: var(--cyan);
}


/* STYLING */

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


/* NAVABAR */

main header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
    position: fixed;
    width: 100%;
    padding: 1em 4em;
    z-index: 1;
}

main header .nav_left .circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid var(--cyan);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main header .nav_left .circle img{
    height: 50px;
}

main header .nav_right nav ul{
    display: inline-flex;
}

main header .nav_right nav ul li{
    list-style-type: none;
    margin-left: 2.3em;
    opacity: 0;
    transform: translateY(40px);
}

main header .nav_right nav ul li:nth-child(1){
    transition: 0.6s ease-in-out;
}
 
main header .nav_right nav ul li:nth-child(2){
    transition: 0.6s  0.3s ease-in-out;
}

main header .nav_right nav ul li:nth-child(3){
    transition: 0.6s 0.6s ease-in-out;
}

main header .nav_right nav ul li:nth-child(4){
    transition: 0.6s 0.9s ease-in-out;
}

main header .nav_right nav ul li:nth-child(5){
    transition: 0.6s 1.2s ease-in-out;
}

main header .nav_right nav ul .reveal_links {
    opacity: 1;
    transform: translateY(0px);
}

main header .nav_right nav ul li a{
    color:var(--cyan);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
}

main header .mobile_hamburger{
    display: none;
}

main header .mobile_hamburger .burger_container{
    width: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 7px;
    cursor: pointer;
}

main header .mobile_hamburger:hover .bars:nth-child(1){
    width: 100%;
} 

main header .mobile_hamburger:hover .bars:nth-child(2){
    width: 100%;
}

main header .mobile_hamburger .burger_container span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    transition: 0.5s ease-in-out;
}

main header .mobile_hamburger .burger_container span:nth-child(1){
    width: 50%;
}

main header .mobile_hamburger .burger_container span:nth-child(2){
    width: 75%;
}


/* MOBILE LINKS */

body .mobileLinks{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: var(--gray);
    transition: 0.8s ease-in-out;;
    opacity: 0;
    display: none;
}

body .mobileLinks header{
    display: flex;
    justify-content: flex-end;
    padding: 1em 2em;
}

body .mobileLinks header img{
    border-radius: 50%;
    border: 2px solid var(--cyan);
    padding: 10px;
    width: 50px;
    height: auto;
}

body .mobileLinks nav{
    height: 90vh;
    padding-bottom: 1em;
}

body .mobileLinks nav ul{
    list-style-type:none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .mobileLinks nav ul li{
    border-radius: 50px;
    border: 2px solid var(--cyan);
    margin-bottom: 2em;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

body .mobileLinks nav ul li:hover{
    background-color:var(--dark-cyan) ;
    border: 2px solid var(--dark-cyan);
}

body .mobileLinks nav ul li:hover .mobile_link{
    color: var(--white);
}

body .mobileLinks nav ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}


/* ASIDE */

main aside{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    z-index: 2;
    display: flex;
    transition: 0.8s ease-in-out;
}

main aside .color_themeChange{
    background-color: var(--light-gray);
    width: 0%;
    overflow-x: hidden;
    transition: 0.8s ease-in-out;
    opacity: 1;
}

main aside .color_themeChange .color_themeChangeContent{
    padding: 1em 2em;
    padding-top: 1.5em;
    margin-top: 1em;
    aspect-ratio: 16/9;
    width: 100%;
    max-width: 100%;
}

main aside .sideNavStyle{
    width: 100%;
}

main aside .navOpacity{
    opacity: 1;
}

main aside .color_themeChange p{
    font-size: 1.2rem;
    margin-bottom: 1em;
    text-align: center;
    white-space: nowrap
}

main aside .color_themeChange .color_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.8em;
}

main aside .color_themeChange .color_section .color{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main aside .color_themeChange .color_section .color:nth-child(1){
    background-color: #39ae88;
}

main aside .color_themeChange .color_section .color:nth-child(2){
    background-color: #ee99c1;
}

main aside .color_themeChange .color_section .color:nth-child(3){
    background-color: #e59d23;
}

main aside .color_themeChange .color_section .color:nth-child(4){
    background-color: #A1EAFB;
}

main aside span{
    background-color: var(--darker-cyan);
    width: 30px;
    height: 30px;
    margin-top: 13em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

main aside span img{
    height: 80%;
    width: 80%;
}


/* HERO */

main .hero{
    padding: 1em 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative
}

main .hero h3{
    color: var(--white);
    font-size: 2rem;
    margin-left: 20px;
}

main .hero h5{
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 1em;
}


main .hero h1{
    font-size: 6rem;
    margin-top: 0.3em;
}

main .hero button{
    width: 200px;
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 1em;
}

main .hero button a{
    text-decoration: none;
}

main .hero .triangle_wrapper{
    filter: drop-shadow(-8px 5px 0px #39ae88);
    position: absolute;
    top: 0%;
    left: 40%;
}

main .hero .triangle_effect{
    clip-path: polygon(0 70%, 0% 100%, 73% 100%);
    height: 120px;
    width: 60px;
    background-color: #00c6b3;
    animation: moving1 3s infinite linear;
}

@keyframes moving1{
    0%{
        transform: translateY(30px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(30px);
    }
}

main .hero .dot_effect{
    position: absolute;
    bottom: 20%;
    right: 5%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 5px;
    animation: moving2 3s infinite linear 0.6s;
}

main .hero .dot_effect .dots{
    background-color: var(--cyan);
    height: 4px;
    width: 4px;
    border-radius: 50%;
}

@keyframes moving2{
    0%{
        transform: translateY(30px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(30px);
    }
}


/* ABOUT */

.about .top{
    display: flex;
    align-items: center;
}

.about h2{
    font-size: 3.5rem;
}

.about span{
    animation: greeting 3s infinite ease-in-out;
    display: block;
    font-size: 3.5rem;
    margin-left: 10px;
}

@keyframes greeting{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(75deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.about p{
    width: 80%;
    font-size: 1.3em;
    margin-top: 1em;
    line-height: 1.5em;
    word-spacing: 5px;
    font-weight: lighter;
}


/* TECH STACK */

.tech_stack .tools{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding-top: 3em;
}

.tech_stack .tools .tool_item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    padding: 1em 0em;
    border-radius: 25px;
    cursor: pointer;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.tech_stack .tools .tools_reveal{
    transform: translateY(0px);
    opacity: 1;
}

.tech_stack .tools .tool_item:hover{
    transform: scale(0.9);
}

.tech_stack .tools .tool_item:hover span{
    color: var(--cyan);
}

.tech_stack .tools .tool_item img{
    width: 100px;
    height: auto;
}

.tech_stack .tools .tool_item span{
    margin-left: 10px;
}


/* PROJECTS */

.projects .projects_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    padding-top: 3em;
}

.projects .projects_container .project_card{
    background-color: var(--light-gray);
    cursor: pointer;
    border-radius: 5px; 
    width: 95%;
    margin: 0 auto;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.projects .projects_container .project_card:nth-child(1){
    transition: 0.6s ease-in-out;
}

.projects .projects_container .project_card:nth-child(2){
    transition: 0.6s 0.3s ease-in-out;
}

.projects .projects_container .project_card:nth-child(3){
    transition: 0.6s 0.6s ease-in-out;
}

.projects .projects_container .project_card:nth-child(4){
    transition: 0.6s ease-in-out;
}

.projects .projects_container .project_card:nth-child(5){
    transition: 0.6s 0.3s ease-in-out;
}

.projects .projects_container .project_card:nth-child(6){
    transition: 0.6s 0.6s ease-in-out;
}

.projects .projects_container .reveal_projects{
    transform: translateY(0px);
    opacity: 1;
}

.projects .projects_container .project_card img{
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    height: 200px;
}

.projects .projects_container .project_card .project_cardInfo{
   padding: 1em;
   padding-bottom: 0em;
   margin-bottom: 1em;
}

.projects .projects_container .project_card .project_cardInfo ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.projects .projects_container .project_card .project_cardInfo ul li{
    color: var(--cyan);
    margin: 1em;
    margin-left: 0em;
}

.projects .projects_container .project_card .project_cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
}

.projects .projects_container .project_card .project_cardFooter a{
    text-decoration: none;
}

.projects .projects_container .project_card .project_cardFooter a:nth-child(1){
    color: var(--white);
    background-color: #0b829c;
    padding: 0.7em 1.5em;
    border-radius: 25px;
}

.projects .projects_container .project_card .project_cardFooter a:nth-child(2){
    color: var(--cyan); 
}

.projects .projects_container .project_card .project_cardFooter i{
    color: var(--cyan);
}


/* CONTACT */

.contact .contact_info{
    padding-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    width: 90%;
    margin: 0 auto;
}

.contact .contact_info .contact_div{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.contact .contact_info .contact_div:nth-child(2){
    transition: 0.6s 0.4s ease-in-out;
}

.contact .contact_info .reveal_contact{
    transform: translateY(0px);
    opacity: 1;
}

.contact .contact_info .contact_infoText h2{
    margin-bottom: 0.6em;
}

.contact .contact_info .contact_infoText p{
    line-height: 25px;
}

.contact .contact_info .contact_infoText {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.contact .contact_info .contact_infoText .contactLinks{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.contact .contact_info .contact_infoText .contactLinks a{
    text-decoration: none;
    color: var(--cyan);
    margin-bottom: 10px;
    display: inline;
    width: 30%;
    text-transform: lowercase;
}

.contact .contact_info .contact_infoForm{
    margin-left: 1em;
}

.contact .contact_info .contact_infoForm form .input_container input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: transparent;
    border: 2px solid gray;
    padding-left: 10px;
    margin-bottom: 1em;
    outline: none;
    border-radius: 10px;
}

.contact .contact_info .contact_infoForm form .input_container input::placeholder{
    color: var(--white);
}

.contact .contact_info .contact_infoForm form .textarea_container textarea{
    width: 80%;
    height: 100px;
    background-color: transparent;
    border: 2px solid gray;
    outline: none;
    padding: 1em;
    border-radius: 10px;
}

.contact .contact_info .contact_infoForm form .textarea_container textarea::placeholder{
    color: var(--white);
}

.contact .contact_info .contact_infoForm form input[type="submit"]{
    color: var(--white);
    background-color: #0b829c;
    border: none;
    width: 120px;
    padding: 1em;
    margin-top: 1em;
    border-radius: 25px;
    cursor: pointer;
}


/* FOOTER */

footer{
    background-color: var(--light-gray);
    margin-top: 7em;
    display: block;
}

footer .footer_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4em 0em;
}

footer .footer_container .circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--dark-cyan);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .footer_container img{
    height: 40px;
}

footer .footer_container i{
    color: var(--dark-cyan);
    font-size: 1.2rem;
    margin: 0em 1em;
}

footer .footer_container p{
    color: var(--dark-cyan);
}










@media (max-width:768px){
    
    /* ABOUT */

    .about p{
        width: 100%;
    }


    /* TECH STACK */

    .tech_stack .tools{
        grid-template-columns: repeat(2, 1fr);
    }


    /* PROJECTS */

    .projects .projects_container{
        grid-template-columns: repeat(2,1fr);
    }


    /* CONTACT */

    .contact .contact_info{
        grid-gap: 1em;
        width: 100%;
    }

    .contact .contact_info .contact_infoForm form input[type="email"],.contact .contact_info .contact_infoForm form input[type="text"]{
        width: 100%;
    }

    .contact .contact_info .contact_infoForm form .textarea_container textarea{
        width: 100%;
        height: 120px;
    }

    /* FOOTER */

    footer{
    background-color: var(--light-gray);
    margin-top: 4em;
    display: block;
    }


}










/* mobile device */
@media (max-width:500px) {

    /* GENERAL */

    section,.about{
        padding: 1em;
        display: block;
        padding-bottom: 5em;
    }
    
    
    /* NAVABAR */
    
    main header{
        padding: 1em 1.5em;
    }

    main header .mobile_hamburger{
        display: block;
    }

    main header .nav_right{
        display: none;
    }
    
    main header .nav_left .circle{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid var(--cyan);
        padding: 10px;
    }
    
    main header .nav_left .circle img{
        width: 90%;
        height: auto
    }

    /* HERO */

    main .hero{
        padding: 1em;
        padding-top: 5em;
        padding-bottom: 0em;
    }

    main .hero h5,main .hero h3{
        margin-left: 0px;
    }

    main .hero h1{
        line-height: 1.5em;
        font-size: 4rem;
    }

    main .hero h3{
        font-size: 1.5rem;
    }
    
    main .hero h5{
        font-size: 1.3rem
    }
    
    main .hero button{
        width: 200px;
        background-color: transparent;
        padding: 20px;
        cursor: pointer;
        border-radius: 50px;
        margin-top: 1em;
    }

    main .hero button a{
        font-size: 0.9rem;
    }

    main .hero .triangle_wrapper{
        left: 60%;
    }


    /* ABOUT */

    .about h2{
        font-size: 2.5rem;
        white-space: pre-wrap;
    }

    .about p{
        width: 100%;
        margin-top: 0em;
        font-size: 1.1em;
    }


    /* TECH STACK */

    .tech_stack .tools{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .tech_stack .tools .tool_item img{
        width: 70px;
        height: auto;
    }


    /* PROJECTS */

    .projects .projects_container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 3em;
        grid-column-gap: 1em;
        padding-top: 3em;
    }

    .projects .projects_container .project_card{
        width: 100%;
    }

    .projects .projects_container .project_card:nth-child(1),.projects .projects_container .project_card:nth-child(2),.projects .projects_container .project_card:nth-child(3),.projects .projects_container .project_card:nth-child(4),.projects .projects_container .project_card:nth-child(5),.projects .projects_container .project_card:nth-child(6){
        transition: 0.6s ease-in-out;
    }

    .projects .projects_container .project_card .project_cardInfo ul li{
        font-size: 0.8rem;
    }


    /* CONTACT */

    .contact .contact_info{
        padding-top: 2em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0em;
        width: 100%;
    }

    .contact .contact_info .contact_infoForm{
        margin-left: 0em;
        padding: 0em;
        margin: 0em;
        margin-top: 0.7em;
    }

    .contact .contact_info .contact_infoForm form input[type="email"],.contact .contact_info .contact_infoForm form input[type="text"]{
        width: 100%;
    }

    .contact .contact_info .contact_infoForm form .textarea_container textarea{
        width: 100%;
        height: 120px;
    }

    .contact .contact_info .contact_infoForm form .submit_div{
        display: flex;
        justify-content: flex-end;
    }

    .contact .contact_info .contact_infoForm form input[type="submit"]{
        width: 150px;
        padding: 1em;
        margin-top: 1em;
        border-radius: 25px;
        font-size: 1.1rem;
        align-self: flex-end;
    }


    /* FOOTER */

    footer{
        margin-top:0em;
    }

    footer .footer_container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.4em 0em;
    }

    footer .footer_container div{
        margin-top: 1em;
    }

    footer .footer_container div:nth-child(1){
        display: none;
    }    
}









@media (max-width:900px) and (orientation:landscape) {

    /* NAVABAR */

    main header .nav_left .circle{
        height: 60px;
        width: 60px;
    }
    
    main header .nav_left .circle img{
        width: 80%;
        height: auto;
    }

    main header .nav_right nav ul li a{
        font-size: 0.9rem;
    }

    /* HERO */

    main .hero{
        padding-top: 2em;
    }

    main .hero .triangle_wrapper{
        filter: drop-shadow(-8px 5px 0px #06b27c);
        position: absolute;
        top: 0%;
        left: 50%;
    }


    /* ABOUT */

    .about p{
        width: 100%;
    }


    /* TECH STACK */

    .tech_stack .tools{
        grid-template-columns: repeat(2, 1fr);
    }


    /* PROJECTS */

    .projects .projects_container{
        grid-template-columns: repeat(2,1fr);
    }


    /* CONTACT */

    .contact .contact_info{
        grid-gap: 1em;
        width: 100%;
    }

    .contact .contact_info .contact_infoForm form input[type="email"],.contact .contact_info .contact_infoForm form input[type="text"]{
        width: 100%;
    }

    .contact .contact_info .contact_infoForm form .textarea_container textarea{
        width: 100%;
        height: 120px;
    }

    
    /* FOOTER */

    footer{
    background-color: var(--light-gray);
    margin-top: 4em;
    display: block;
    }
}